#about {
  text-align: center;
  .twin-paradox-logo {
    width: 60%;
    height: auto;
    opacity: 0.5;
  }

  @media (max-width: 768px) {
    .twin-paradox-logo {
      width: 80%;
    }
  }

  @media (max-width: 480px) {
    .twin-paradox-logo {
      width: 100%;
    }
    p {
      max-width: 100%;
    }
  }
}

.description-text {
  background-color: black;
}

.bio-text {
  font-size: 1.5rem;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Cinzel', sans-serif;
  @media (max-width: 480px) {
    font-size: 1.1rem;
  }
}

.presentation-title {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.2rem;
  @media (max-width: 480px) {
    font-size: 1.1rem;
  }
}

.presentation-title-lg {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.8rem;
}

.presentation-subtitle {
  font-family: 'Cinzel', sans-serif;
  font-size: 0.9rem;
  @media (max-width: 480px) {
    font-size: 0.8rem;
  }
}
