@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

html {
  background-size: cover;
  background-image: url('/assets/twin-paradox-dark-purple-background-large.jpg');
  background-position: center;
  background-attachment: local;
}

body {
  margin: 0;
  color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Space Grotesk', sans-serif;
  background: linear-gradient(
    180deg,
    #000000aa 0%,
    #1b042750 30%,
    #2b0a3d33 50%,
    #00000042 100%
  );
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.section-no-padding {
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-top-10 {
  margin-top: 10px;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-top-40 {
  margin-top: 40px;
}

.font-size-sm {
  font-size: 0.9rem;
}

.font-size-md {
  font-size: 1.2rem;
}

.font-size-lg {
  font-size: 1.5rem;
}

.fade-in {
  opacity: 0; /* Start with the image hidden */
  animation: fadeInAnimation 2s forwards; /* Apply the fade-in animation */
}

/* Define the keyframes for the fade-in effect */
@keyframes fadeInAnimation {
  0% {
    opacity: 0; /* Fully transparent at the start */
  }
  100% {
    opacity: 1; /* Fully opaque at the end */
  }
}

.w-4,
.h-4 {
  width: 1rem;
  height: 1rem;
}

.w-6,
.h-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.w-8,
.h-8 {
  width: 2rem;
  height: 2rem;
}

.social-links {
  a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
    opacity: 0.8;
  }
}

#videos {
  color: white;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  @media (max-width: 480px) {
    font-size: 1rem;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 15px 0;
}

ul li a {
  margin-bottom: 0.5rem;
}

ul li a:hover {
  text-decoration: underline;
}

iframe {
  max-width: 100%;
  border-radius: 8px;
}

footer {
  color: white;
  text-align: center;
  padding: 0 1rem;
  margin-top: 0;
}
footer p {
  font-size: 0.8rem;
  opacity: 0.8;
  @media (max-width: 480px) {
    font-size: 0.7rem;
  }
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

.platform-links-container {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.platform-link {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute space between image and text */
  gap: 1rem; /* Space between the image and text */
  text-decoration: none;
  background: white;
  margin: 1rem 0.5rem;
  color: black;
  border-radius: 4px;
  a {
    text-decoration: none;
    padding: 0.8rem;
    width: 100%;
    text-align: left;
  }
}

.platform-link:hover {
  text-decoration: none;
  background-color: #e8e8e8;
}

.platform-text {
  color: black;
  font-weight: 600;
  font-size: 1rem;
  text-align: right;
  text-decoration: none; /* Remove underline */
  transition: background-color 0.3s ease;
  float: right;
}

.platform-logo {
  height: 25px; /* Consistent height */
  vertical-align: middle;
}

.layout-container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

/* Optional: adjust padding on very small screens */
@media (max-width: 600px) {
  .layout-container {
    padding: 1rem 0.75rem;
  }
}

.font-color-white {
  color: white;
}

.font-color-light-purple {
  color: rgb(182, 142, 190);
}
