.description-text {
  background-color: black;
}

.bio-container {
  max-width: 900px;
  margin: 0 auto;
}

.bio-container p {
  text-align: justify;
  padding: 0 1rem;
}

.bio-text {
  font-size: 1.5rem;
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Cinzel', sans-serif;
  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

.presentation-title {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.2rem;
}

.presentation-title-lg {
  font-family: 'Cinzel', sans-serif;
  font-size: 1.8rem;
}

.presentation-subtitle {
  font-family: 'Cinzel', sans-serif;
  font-size: 0.9rem;
}
